html {
    font-family: Arial; 
    display: inline-block; 
    text-align: center;
    background-color: black; 
}
p { 
    font-size: 1.2rem;
}
body {  
    margin: 0;
}
.hwidth {
    width: 50%;
}

.fwidth {
    width: 100%;
}

.topnav { 
    overflow: hidden; 
    background-color: blue; 
    color: white; 
    font-size: 1rem; 
    line-height: 0%;
}
.divinfo { 	
    overflow: hidden; 
    background-color: black; 
    color: white; 
    font-size: 0.7rem; 
    height:100;
    line-height: 0%;
}
.freqinfo { 	
    overflow: hidden; 
    background-color: black;
    color: yellow; 
    font-size: 1rem; 
    line-height: 0%;
}
.content { 
    padding: 20px; 
}
.card { 
    background-color: lightblue; 
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5); 
    font-size: 0.7rem; 
}
.cards { 
    max-width: 1000px; 
    margin: 0 auto; 
    display: grid; 
    grid-gap: 1rem; 
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
}
.reading { 
    font-size: 1.4rem;  
}